<ion-header>
  <ion-navbar dark>
    <ion-title>{{productName}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>

    <ion-slides pager [options]="slideOptions">
      <ion-slide>
        <img src="https://img.remaxthailand.co.th/500x500/product/D1600530/1.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="https://img.remaxthailand.co.th/500x500/product/D1600530/2.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="https://img.remaxthailand.co.th/500x500/product/D1600530/3.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="https://img.remaxthailand.co.th/500x500/product/D1600530/4.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="https://img.remaxthailand.co.th/500x500/product/D1600530/5.jpg" />
      </ion-slide>
    </ion-slides>

    <ion-card-content text-center>
      <h2><b>{{productName}}</b></h2>
      <b>รุ่น U27</b>
    </ion-card-content>

    <div text-center class="bg-light padding-10">
      <ion-badge>รับประกันสินค้า 1 ปี</ion-badge> <span>โดย Remax (Thailand)</span>
    </div>
    <div text-center>
      <h1 danger class="margin-top-10"><b>269</b> บาท</h1>
      <strike>399 บาท</strike>
      <ion-badge class="bg-lightRed">-33%</ion-badge>
    </div>
    <ion-item class="bg-light margin-top-10">
      <div clear item-left>
        <h1 (click)="updateFavorite()">
          <ion-icon  *ngIf="isFavorite" name="md-heart" danger></ion-icon>
          <ion-icon  *ngIf="!isFavorite" name="md-heart-outline"></ion-icon>
        </h1>
      </div>
      <div clear item-right>
        <table *ngIf="qtyRemain > 0">
          <tr>
            <td class="font-dot9">จำนวน &nbsp;</td>
            <td>
              <button light round (click)="updateQuantity(-1)">
                <ion-icon class="margin-right-0" name="md-remove-circle"></ion-icon>
              </button>
            </td>
            <td class="font-dot9">
              <ion-input type="number" min="1" text-center value="{{qty}}" style="width:50px" (input)="setQuantity($event.target.value)"></ion-input>
            </td>
            <td>
              <button light round (click)="updateQuantity(1)">
                <ion-icon class="margin-right-0" name="md-add-circle"></ion-icon>
              </button>
            </td>
            <td class="font-dot9">&nbsp; ชิ้น &nbsp;</td>
            <td>
              <button danger (click)="addCart()"><b>&nbsp; สั่งซื้อ &nbsp;</b></button>
            </td>
          </tr>
        </table>
        <ion-badge *ngIf="qtyRemain <= 0" dark> สินค้าหมดชั่วคราว </ion-badge>
      </div>
    </ion-item>

  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <h4>รายละเอียดเกี่ยวกับสินค้า</h4>
        <ul>
          <li>Virtual Reality 3D แว่นชมภาพเสมือนจริง ให้คุณสัมผัสประสบการณ์ใหม่กับการรับชมภาพยนตร์ 3 มิติ หรือชมภาพในมุมกว้าง 360 องศา ยังสามารถโหลดแอพเพื่อเชื่อมต่อระหว่างสมาร์ทโฟนและคอมพิวเตอร์ของคุณและเพลิดเพลินไปกับเกมส์ที่คุณชอบได้อีกด้วย เพียงแค่นี้คุณก็สามารถสนุกกับ
            VR ล้ำ ๆ ได้อย่างง่ายดาย</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100>
        <h4>คุณสมบัติพิเศษ</h4>
        <ul>
          <li>ชมภาพในระบบ 3D และแบบ 360 องศา ให้ความรู้สึกสมจริงเสมือนอยู่ในสถานที่จริง</li>
          <li>รองรับสมาร์ทโฟนทั้ง iOS และ Android ที่มีขนาดไม่เกิน 4.7 - 6 นิ้ว</li>
          <li>เลนส์ชนิดพิเศษไม่ต้องสวมแว่น 3D ก็สามารถรับชมภาพในระบบ 3D ได้ (ภาพยนตร์ของคุณต้องเป็นระบบ 3D ด้วยเช่นกัน)</li>
          <li>เพลิดเพลินได้ต่อเนื่องโดยไม่ปวดตา</li>
          <li>ฟองน้ำที่รองรับหน้าผาก สามารถทำความสะอาดได้ง่าย</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <img class="img-detail" *ngFor="let i of items" src="https://img.remaxthailand.co.th/product/D1600530/{{i.name}}" />
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!loadFinish">
    <ion-infinite-scroll-content loadingText="กำลังโหลดรูปภาพ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
