// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/product/product";
@import "../pages/category/category";
@import "../pages/cart/cart";
@import "../pages/product-list/product-list";
@import "../pages/product-info/product-info";

ion-navbar { box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.22) }
.ion-icon { position:relative; top:2px; margin-right:6px }
ion-card.product { box-shadow: none; border: 1px solid #c8c8c8 }

.capitalize { text-transform: capitalize }

.color-primary { color: color($colors, primary)}
.color-danger { color: color($colors, danger)}

.bg-light { background-color: color($colors, light)}
.bg-lightRed { background-color: color($colors, lightRed)}
.bg-lightYellow { background-color: color($colors, lightYellow) }

.border-top-gray { border-top: 1px solid #c8c8c8 }

.text-wrap { white-space: normal }

.margin-0 { margin: 0 !important }
.margin-top-3 { margin-top: 3px !important }
.margin-top-10 { margin-top: 10px }
.margin-bottom-2 { margin-bottom: 2px }
.margin-left-5 { margin-left: 5px }
.margin-left-10 { margin-left: 10px }
.margin-right-0 { margin-right: 0 }
.margin-right-2 { margin-right: 2px }
.margin-right-5 { margin-right: 5px }
.margin-right-10 { margin-right: 10px !important }
.padding-10 { padding: 10px }
.padding-left-0 { padding-left: 0px }
.padding-left-5 { padding-left: 5px }
.padding-left-10 { padding-left: 10px }
.padding-right-10 { padding-right: 10px }

.font-dot9 { font-size: 0.9em }
