// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/page1/page1";

@import "../pages/page2/page2";
@import "../pages/product/product";

ion-navbar { box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.22) }
ion-icon { position:relative; top:2px; margin-right:6px }