// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/product/product";
@import "../pages/category/category";
@import "../pages/cart/cart";
@import "../pages/product-list/product-list";
@import "../pages/product-info/product-info";

ion-navbar { box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.22) }
ion-icon { position:relative; top:2px; margin-right:6px }
ion-card.product { box-shadow: none; border: 1px solid #c8c8c8 }

.capitalize { text-transform: capitalize }

.color-primary { color: color($colors, primary)}
.color-danger { color: color($colors, danger)}

.bg-light { background-color: color($colors, light)}
.bg-lightRed { background-color: color($colors, lightRed)}


.margin-top-10 { margin-top: 10px }
.margin-right-0 { margin-right: 0 }
.padding-10 { padding: 10px }

.font-dot9 { font-size: 0.9em }
