<ion-header>
  <ion-navbar dark>
    <ion-title>{{categoryName}}</ion-title>
    <ion-buttons end>
      <button royal (click)="goCart()">
        <ion-icon name="md-cart"></ion-icon>
        <ion-badge item-right>{{cartCount}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row wrap>
      <ion-col width-50 *ngFor="let p of product">
        <ion-card>
          <img src="https://img.remaxthailand.co.th/300x300/product/{{p.sku}}/1.jpg" (click)="navigate(p)" />
          <ion-card-content>
            <p (click)="navigate(p)">{{p.name}}</p>
            <button light block outline class="price" (click)="updateFavorite(p)">
              <ion-item class="price">
                <span clear item-left>&#3647;(<strike>{{p.price}}</strike>) <b danger>{{p.sellPrice}}</b></span>
                <span *ngIf="p.isFavorite" clear item-right favorite><ion-icon name="md-star"></ion-icon></span>
                <span *ngIf="!p.isFavorite" clear item-right><ion-icon name="md-star-outline"></ion-icon></span>
              </ion-item>
            </button>
            <button block outline (click)="updateCart()">
              <ion-icon name="md-add-circle"></ion-icon>
              เพิ่มสินค้าในรถเข็น
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
