.product-list-page ion-content { background-color: #e9e9e9 }
.product-list-page scroll-content { padding: 0px }
.product-list-page ion-card { margin:0; width:100% }
.product-list-page ion-card-content { padding: 4px 4px 0 4px }

.product-list-page .price { padding: 3px 5px; min-height:1em; background-color: color($colors, light) }
.product-list-page .price span { margin:0 }
.product-list-page .price .item-inner { padding:0 }


.product-list-page button ion-icon { position:relative; top:0px; margin-right:2px }
.product-list-page button.price { padding: 1px }
