.product-page scroll-content { padding: 2px !important }
.product-page ion-card { margin:0; width:100% }
.product-page ion-content-tmp { background-color: #e9e9e9 }
.product-page ion-content { padding-bottom:0px }
.product-page ion-list { margin-bottom:0px }
.product-page ion-item { padding-left: 4px }